/* Base Styles -------------------- */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Playfair Display', serif;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/body-image1.jpg") no-repeat center center / cover;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 3rem;

}

h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color: #fff;
}


/* Navigation Styles */
.row {
  float: right;
  list-style: none;
  margin-top: 40px;
  margin-right: 80px;
}

.row li {
  display: inline-block;
  margin-left: 40px;
  text-transform: uppercase;
  font-size: 19px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  padding: 8px 0px;
}

.row li:hover,
.row li:active {
  border-bottom: 2px solid #48a8ce;
}

/* Media queries for home page */
@media(min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}


/* Cursor for Typewriter */
.txt-type>.txt {
  border-right: 0.2rem solid #777;
}

/* Aspirations Section */

.section-head {
  padding-left: 500px;
  padding-top: 0px;
}
